<div id="<%= dom_id message %>">
  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

    <p>
    <strong>Posted:</strong>
    <%= time_tag message.created_at, "data-local": "time-ago" %>
  </p>


  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

</div>
